# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE JetBrains (DataGrip, IntelliJ, ecc.)
.idea/
*.iml
*.xml

# File di sistema/macOS/Windows
.DS_Store
Thumbs.db
