# === IDE e editor ===
.idea/
.vscode/
*.iml

# === macOS / Linux / Windows ===
.DS_Store
Thumbs.db

# === Java / Maven ===
target/
out/
*.class
*.log
.mvn/

# === SceneBuilder / JavaFX ===
*.fxml~

# === C (file compilati) ===
*.o
*.out

# === Backup / temporanei ===
*~
*.tmp
*.bak
*.swp
*.swo
*.lock

# === Draw.io backup ===
*.drawio.bkp

# === Obsidian ===
.obsidian/