# Ignora i file di configurazione IDE
.idea/

# Ignora i file di configurazione di IntelliJ IDEA
*.iml

# Ignora le cartelle di compilazione Java
*.class

# Ignora la cartella out/
out/

# Ignora la cartella target/
target/

# Ignora file di log
*.log

# Ignora Docker
*.docker
Dockerfile

.DS_Store
